<!DOCTYPE html>
<html>

    <head>
        <title>YT Downloader</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <meta charset="utf-8">
        <meta charset="iso-8859-1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/ytdown.css">
        <script src="/static/js/ytdown.js"></script>
    </head>
    <body>
        <div class="Mainbody container">
            <H1 class="row">Downloader</H1>
            <div class="Forms">
                <div class="error_msg"></div>
                <form>
                    <label for="link">Link here:</label><br>
                    <input type="text" id="link" name="link">
                    <input type="submit">
                </form>
            </div>
            <div class="redirect">
                <a href="/"><- Home</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>